body {
    margin: 0;
}

.link {
    text-decoration: none;
    color: inherit;
}

.link2 {
    text-decoration: none;
    color: blue;
}

.info-link {
    text-align: center;
    margin-top: 15px;
}

.nav-logo {
    height: 40px;
    width: 40px;
    position: relative;
    /* top:-7px; */
}

.cp {
    cursor: pointer;
}

.container {
    margin: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.card-logo {
    height: 100px;
    width: 100px;
}


/* chat component */

.chat {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 20px 0;
    height: calc(100vh - 64px) !important;
    flex-direction: column;
    position: relative;
}

.chat-wrapper {
    box-sizing: border-box;
    height: 100%;
    padding-bottom: 10px;
    display: flex;
    border-radius: 4px;
    gap: 10px;
    flex-direction: column;
    background-color: gainsboro;
    position: relative;
}

.message-box {
    padding-top: 10px;
    width: 75vw;
    overflow-y: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.message-box::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.message-box::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.message-box::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #F5F5F5;
    background-image: -webkit-gradient(linear,
            40% 0%,
            75% 84%,
            from(#9c27b0),
            to(#bc43d2),
            color-stop(.6, #cb43e2))
}

.box-reverse {
    flex-direction: column-reverse;
}

.message {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 12px;
}

.me {
    flex-direction: row-reverse;
}

.text {
    max-width: 80%;
    word-wrap: break-word;
    word-break: break-word;
    font-family: 'roboto', 'sans-serif';
    font-weight: 600;
    color: gray;
    background-color: white;
    padding: 12px;
    /* background-color: white; */
    border-radius: 8px;
}

.textarea {
    margin: 0 10px;
    display: flex;
    gap: 12px;
    position: relative;
    align-items: center;
}

.textarea div {
    position: absolute;
    bottom: 45px;
    width: 100%;
}

em-emoji-picker {
    width: 100%;
}

.textarea input {
    outline: none;
    border: none;
    border-radius: 8px;
    font-size: large;
    padding: 0 12px;
    flex: 1;
    height: 100%;
}

.textarea button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 12px;
    background-color: white;
    cursor: pointer;
    padding: 6px;
}

.textarea button:hover {
    background-color: black;
    color: gainsboro;
}

.message-box h3 {
    text-align: center;
    margin-top: 10vh;
    font-size: xx-large;
    font-family: monospace, 'sans-serif';
    color: #9c27b0;
}

.bounce {
    animation: bounce 2s ease infinite;
    text-align: center;
    font-size: 50px;
    margin: 0;
}

@keyframes bounce {
    70% {
        transform: translateY(0%);
    }

    80% {
        transform: translateY(-40%);
    }

    90% {
        transform: translateY(0%);
    }

    95% {
        transform: translateY(-15%);
    }

    97% {
        transform: translateY(0%);
    }

    99% {
        transform: translateY(-3%);
    }

    100% {
        transform: translateY(0);
    }
}

.skltn {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 12px;
}

/* chat page */

.call-bars {
    position: absolute;
    padding: 20px 0;
    background-color: #9c27b0;
    /* opacity: 0.6; */
    color: white;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    width: 100%;
    bottom: 0;
}

.hide-call-bars {
    visibility: hidden;
}

.call-bars:hover {
    visibility: visible;
}

.calling-div{
    position: absolute;
    font-size: xx-large;
    top: 100px;
    text-align: center;
    color: #9c27b0;
}

.calling-div p{
    margin: 0;
}

.calling-div .user-name{
    margin-top: 10px;
}

.call-logo{
    height: 80px;
    width: 80px;
    position: relative;
    top: 15px;
}

.calling-div .user-name{
    margin: 0;
}